* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 600px;
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    position: relative;
    top: 100px;
    border: 1px solid white;
    grid-auto-flow: row;
}

.child {
    width: 160px;
    height: 160px;
    border: 1px solid red;
    justify-self:center;
    align-self: center;
}

#one {
    grid-column-start: 1;
    grid-row-start: 2;
}