* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    border: 10px solid rgb(65, 6, 6);
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr 50px;
}
.header {
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.item {
    border: 1px solid white;
}

