* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
}

.lista1 {
    border: 1px solid white;
}

li {
    font-size: 2rem;
}

.lista1 > li {
    color: blue;
}

div > .parrafo {
    font-size: 2rem;
}

ul + .lista1 {
    font-size: 3rem;
}
 .item + .item2 {
    font-size: 4rem;
 }